$main-color: #0083bd;
$main-light-silver: #e6e6e6;
$main-light-gray: #c4c3c3;
$main-medium-gray: #b0afaf;
$main-dark-gray: #9c9b9b;
$main-dark: #666666;
$main-black: #333333;

// body {
// 	text-rendering: optimizeLegibility;
// }