@mixin g-wrapper {
	max-width: 75rem;
	margin-right: auto;
	margin-left: auto;
	display: flex;
	flex-flow: row wrap;
}

.g-wrapper {
	@include g-wrapper;
}

* {
	outline: none;
}

@mixin bghover($color, $mod, $value) {
	background-color: $color;
	transition: .25s ease-in;
	@if $mod == "darken" {
		& a:hover {
			background-color: darken($color, $value);
			transition: .25s ease-in;
		}
	} @if $mod == "lighten" {
		& a:hover {
			background-color: lighten($color, $value);
			transition: .25s ease-in;
		}
	}
}