$main-c: #0083bd;
$main-l-c: #c4c3c3;
$main-m-c: #b0afaf;
$main-d-c: #9c9b9b;
$main-b-c: #333333;

.main-c-bg {
	background-color: $main-c;
}

.main-l-c-bg {
	background-color: $main-l-c;
}

.main-m-c-bg {
	background-color: $main-m-c;
}

.main-d-c-bg {
	background-color: $main-d-c;
}