.header {
	display: flex;
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 50vh;

	&::before {
		display: block;
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4d4d4d+0,b3b3b3+100 */
		background: #4d4d4d; /* Old browsers */
		background: -moz-linear-gradient(left,  #1a1a1a 0%, #4d4d4d 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left,  #1a1a1a 0%,#4d4d4d 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right,  #1a1a1a 0%,#4d4d4d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d4d4d', endColorstr='#b3b3b3',GradientType=1 ); /* IE6-9 */

		opacity: 0.75;
		z-index: -1;
	}

	&__img {
		position: absolute;
		object-fit: cover;
		object-position: 50% 50%;
		z-index: -2;
	}

	&__content {
		align-self: flex-end;
		line-height: 1.2;
		width: 50em;
		padding: 2rem;

		::last-child {
			margin: 0;
		}
	}

	&__header-txt,
	&__con-text {
		display: block;
		position: relative;
		z-index: 1;
		color: $white;
	}

	&__header-txt {
		text-transform: uppercase;
		font-weight: 700;
		font-size: 2.4em;
		margin-bottom: 0.3em;
	}

	&__con-text {
		font-size: 1.2em;
	}
}