<article id="clients" class="index-content__clients clients columns">

	<div class="clients__header">
		<h1>Нам доверяют решения экологической безопасности:</h1>
	</div>

	<div class="gradient">

		<div class="logo-effect left"></div>
		<div class="logo-effect right"></div>

	</div>

	<div class="logo-line">
		<img class="logo" src="assets/img/logo_line_c.png" alt="">
		<img class="logo" src="assets/img/logo_line_c.png" alt="">
		<img class="logo" src="assets/img/logo_line_c.png" alt="">
		<img class="logo" src="assets/img/logo_line_c.png" alt="">
		<img class="logo" src="assets/img/logo_line_c.png" alt="">
		<img class="logo" src="assets/img/logo_line_c.png" alt="">
		<img class="logo" src="assets/img/logo_line_c.png" alt="">
		<img class="logo" src="assets/img/logo_line_c.png" alt="">
		<img class="logo" src="assets/img/logo_line_c.png" alt="">
		<img class="logo" src="assets/img/logo_line_c.png" alt="">
		<img class="logo" src="assets/img/logo_line_c.png" alt="">
		<img class="logo" src="assets/img/logo_line_c.png" alt="">
		<img class="logo" src="assets/img/logo_line_c.png" alt="">
		<img class="logo" src="assets/img/logo_line_c.png" alt="">
	</div>
</article>