<article class="index-content__company company columns">

	<header class="company__header header-block">
		<h1 class="header-block__info">О нас</h1>
	</header>

	<a href="#" class="company__content-item content-item">

		<div class="content-item__hover-effect"></div>
		<img src="assets\img\icons\company\company_licensya.svg" alt="" class="content-item__icon">
		<h2 class="content-item__header">
			<span>Лицензия</span>
		</h2>

	</a>

	<a href="#" class="company__content-item content-item">

		<div class="content-item__hover-effect"></div>
		<img src="assets\img\icons\company\company_ustav.svg" alt="" class="content-item__icon">
		<h2 class="content-item__header">
			<span>О Компании</span>
		</h2>

	</a>

	<a href="#" class="company__content-item content-item">

		<div class="content-item__hover-effect"></div>
		<img src="assets\img\icons\company\company_eco-book.svg" alt="" class="content-item__icon">
		<h2 class="content-item__header">
			<span>"Азбука эколога"</span>
		</h2>

	</a>

	<p class="company__content-text">Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Наш даль скатился родного бросил большой за которой снова, маленький одна вопроса коварный первую назад несколько инициал сих свою последний, он журчит необходимыми переписали? Возвращайся продолжил наш путь эта всеми. Приставка инициал, города ты lorem агенство большого вопрос сбить дал эта которой диких сих, за жизни.</p>

	<p class="company__content-text">Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Наш даль скатился родного бросил большой за которой снова, маленький одна вопроса коварный первую назад несколько инициал сих свою последний, он журчит необходимыми переписали? Возвращайся продолжил наш путь эта всеми. Приставка инициал, города ты lorem агенство большого вопрос сбить дал эта которой диких сих, за жизни.</p>

</article>