<footer class="index-content__footer footer">

	<div class="footer__columns row">
		
		<nav class="footer__services">
			<ul class="footer__nav-menu nav-menu">
				<span class="footer__header">Услуги</span>
				<li><a href="#" class="nav-menu__item">Паспортизация отхода</a></li>
				<li><a href="#" class="nav-menu__item">Лицензирование</a></li>
				<li><a href="#" class="nav-menu__item">Юридическая помощ</a></li>
				<li><a href="#" class="nav-menu__item">Утилизация отходов</a></li>
			</ul>
			<ul class="footer__nav-menu">
				<span class="footer__header">Другое</span>
				<li><a href="#" class="nav-menu__item">Лицензия</a></li>
				<li><a href="#" class="nav-menu__item">О компании</a></li>
				<li><a href="#" class="nav-menu__item">"Азбука эколога"</a></li>
			</ul>
		</nav>

		<div class="footer__feedback feedback">

			<span class="footer__header">Обратная связь</span>
			<p class="feedback__info">Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Путь жаренные ipsum пояс, прямо, алфавит великий текстов.</p>

			<form>

				<input type="text" name="name" placeholder="фамилия или компания">
				<input type="text" name="e-mail" placeholder="office@mail.ru">

				<textarea name="messageFF" rows="5" placeholder="Текст сообщения"></textarea>
				<button class="feedback__btn">Отправить</button>

			</form>

		</div>

		<div class="footer__contacts contacts">
			<span class="footer__header">Контакты</span>
			<span class="contacts__sub-header">Адрес:</span>
			<span class="contacts__add-content">426011, Удмуртская Республика г.&nbsp;Ижевск, ул.&nbsp;Майская, д.8, оф.39</span>
			<span class="contacts__sub-header">Приемная:</span>
			<span class="contacts__add-content">+7 (3412) 77-66-31</span>
			<span class="contacts__sub-header">Бухгалтерия:</span>
			<span class="contacts__add-content">+7 (3412) 77-69-05</span>
			<span class="contacts__sub-header">Юридический отдел:</span>
			<span class="contacts__add-content">+7 (3412) 77-67-25</span>
			<span class="contacts__sub-header">E-mail:</span>
			<span class="contacts__add-content">office@lider-group.pro</span>
		</div>

	</div>


</footer>

<div class="footer__sub-footer">
	<small>Copyright ©</small>  ПромТехУтилизация 2017  <small>Все права защищены</small>
</div>

