<header class="index-header row">

  <nav class="index-header__nav columns">

    <ul class="vertical tabs" data-tabs id="example-tabs">
      <li class="tabs-title is-active"><a href="#panel1v" aria-selected="true">Далеко-далеко за словесными горами в стране, гласных и согласных.</a></li>
      <li class="tabs-title"><a href="#panel2v">Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Снова, языкового.</a></li>
      <li class="tabs-title"><a href="#panel3v">Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты.</a></li>
      <li class="tabs-title"><a href="#panel4v">Далеко-далеко за словесными горами в стране, гласных.</a></li>
    </ul>

  </nav>

  <div class="index-header__content columns">

    <div class="tabs-content" data-tabs-content="example-tabs">
      <div class="tabs-panel is-active" id="panel1v">
        <div class="tabs-panel__wrapper">
          <h1>Здесь какой-то заголовок</h1>
          <p>А здесь куча рыбного текста - Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Обеспечивает, ему.</p>
          <a href="#" class="button">Страницы услуги</a>
        </div>
        <img src="http://placehold.it/1633x720">
      </div>
      <div class="tabs-panel" id="panel2v">
        <div class="tabs-panel__wrapper">
          <h1>Здесь какой-то заголовок</h1>
          <p>А здесь куча рыбного текста - Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Обеспечивает, ему.</p>
          <a href="#" class="button">Страницы услуги</a>
        </div>
        <img src="http://placehold.it/1920x1200">
      </div>
      <div class="tabs-panel" id="panel3v">
        <div class="tabs-panel__wrapper">
          <h1>Здесь какой-то заголовок</h1>
          <p>А здесь куча рыбного текста - Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Обеспечивает, ему.</p>
          <a href="#" class="button">Страницы услуги</a>
        </div>
        <img src="http://placehold.it/800x600">
      </div>
      <div class="tabs-panel" id="panel4v">
        <div class="tabs-panel__wrapper">
          <h1>Здесь какой-то заголовок</h1>
          <p>А здесь куча рыбного текста - Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Обеспечивает, ему.</p>
          <a href="#" class="button">Страницы услуги</a>
        </div>
        <img src="http://placehold.it/1920x1080">
      </div>
    </div>
  </div>
</header>