<header class="index-content__header columns">

	<div id="slickCon" class="header">

		<atricle class="header__slide">
			<div class="header__filter"></div>
			<img src="http://lorempixel.com/1200/600/cats/1" alt="" class="header__img">
			<div class="header__content">
				<span class="header__header-txt">Утилизация промышленных отходов</span>
				<span class="header__con-text">Здесь рыбный текст по паспортизации промышленных отходов и другой ердунде. А так же много полезной информации для перехода на станицу полностью посвященной данной тематике.</span>
				<a href="#" class="header__button-next button-next">
					<span class="button-next__text">Узнайте больше информации по утилизации</span>
					<i class="button-next__icon fa fa-arrow-right" aria-hidden="true"></i>
				</a>
			</div>
		</atricle>

		<atricle class="header__slide">
			<img src="http://lorempixel.com/1200/600/cats/2" alt="" class="header__img">
			<div class="header__content">
				<span class="header__header-txt">Утилизация промышленных отходов</span>
				<span class="header__con-text">Здесь рыбный текст по паспортизации промышленных отходов и другой ердунде. А так же много полезной информации для перехода на станицу полностью посвященной данной тематике.</span>
				<a href="#" class="header__button-next button-next">
					<span class="button-next__text">Узнайте больше информации по утилизации</span>
					<i class="button-next__icon fa fa-arrow-right" aria-hidden="true"></i>
				</a>
			</div>
		</atricle>

		<atricle class="header__slide">
			<img src="http://lorempixel.com/1200/600/cats/3" alt="" class="header__img">
			<div class="header__content">
				<span class="header__header-txt">Утилизация промышленных отходов</span>
				<span class="header__con-text">Здесь рыбный текст по паспортизации промышленных отходов и другой ердунде. А так же много полезной информации для перехода на станицу полностью посвященной данной тематике.</span>
				<a href="#" class="header__button-next button-next">
					<span class="button-next__text">Узнайте больше информации по утилизации</span>
					<i class="button-next__icon fa fa-arrow-right" aria-hidden="true"></i>
				</a>
			</div>
		</atricle>

		<atricle class="header__slide">
			<img src="http://lorempixel.com/1200/600/cats/4" alt="" class="header__img">
			<div class="header__content">
				<span class="header__header-txt">Утилизация промышленных отходов</span>
				<span class="header__con-text">Здесь рыбный текст по паспортизации промышленных отходов и другой ердунде. А так же много полезной информации для перехода на станицу полностью посвященной данной тематике.</span>
				<a href="#" class="header__button-next button-next">
					<span class="button-next__text">Узнайте больше информации по утилизации</span>
					<i class="button-next__icon fa fa-arrow-right" aria-hidden="true"></i>
				</a>
			</div>
		</atricle>

	</div>

	<nav id="slickNav" class="header-navigation">

		<button data-slide="1" class="header-navigation__nav-item active">
			<span class="header-navigation__header">Паспортизация отхода В две строки</span>
			<p class="header-navigation__content">Здесь рыбный текст по паспортизации промышленных отходов и другой ердунде.</p>
		</button>

		<button data-slide="2" class="header-navigation__nav-item">
			<span class="header-navigation__header">Паспортизация отхода</span>
			<p class="header-navigation__content">Здесь рыбный текст по паспортизации промышленных отходов и другой ердунде.</p>
		</button>

		<button data-slide="3" class="header-navigation__nav-item">
			<span class="header-navigation__header">Паспортизация отхода</span>
			<p class="header-navigation__content">Здесь рыбный текст по паспортизации промышленных отходов и другой ердунде.</p>
		</button>

		<button data-slide="4" class="header-navigation__nav-item">
			<span class="header-navigation__header">Паспортизация отхода</span>
			<p class="header-navigation__content">Здесь рыбный текст по паспортизации промышленных отходов и другой ердунде.</p>
		</button>

	</nav>

</header>