<nav class="top-bar row">

	<a href="#" class="main-logo columns">
		<img src="assets/img/logo_simbol.svg" alt="Логотип ПромТехБезопасность" class="main-logo__simbol">
		<img src="assets/img/logo_text.svg" alt="Логотип ПромТехБезопасность" class="main-logo__text">
	</a>

	<ul class="navigation columns">

		<li class="navigation__items">
			<div class="item"></div>
			<!--<a href="#" class="item">
				<i class="fa fa-bullhorn item__icon" aria-hidden="true"></i>
				<span class="item__name">Новости</span>
			</a>-->
		</li>

		<li class="navigation__items">
			<a href="#" class="item">
				<i class="fa fa-address-card-o item__icon" aria-hidden="true"></i>
				<span class="item__name">О нас</span>
			</a>
		</li>

		<li class="navigation__items">
			<a href="#" class="item">
				<i class="fa fa-shield item__icon" aria-hidden="true"></i>
				<span class="item__name">Услуги</span>
			</a>
		</li>

		<li class="navigation__items">
			<a href="#" class="item">
				<i class="fa fa-phone item__icon" aria-hidden="true"></i>
				<span class="item__name">Контакты</span>
			</a>
		</li>
	</ul>

</nav>