<section class="top-bar row align-middle">

	<a href="#" class="top-bar__main-logo small-12 medium-6 columns">
		<img src="assets/img/logo.svg" alt="Логотип ПромТехБезопасность">
	</a>

	<nav class="top-bar__navigation small-12 medium-6 columns">

		<ul class="navigation">

			<li class="navigation__items main-l-c-bg">
				<a href="#" class="item">
					<i class="fa fa-address-card-o item__icon" aria-hidden="true"></i>
					<span class="item__name">О нас</span>
				</a>
			</li>

			<li class="navigation__items main-m-c-bg">
				<a href="#" class="item">
					<i class="fa fa-shield item__icon" aria-hidden="true"></i>
					<span class="item__name">Услуги</span>
				</a>
			</li>

			<li class="navigation__items main-d-c-bg">
				<a href="#" class="item">
					<i class="fa fa-bullhorn item__icon" aria-hidden="true"></i>
					<span class="item__name">Новости</span>
				</a>
			</li>

			<li class="navigation__items main-c-bg">
				<a href="#" class="item">
					<i class="fa fa-phone item__icon" aria-hidden="true"></i>
					<span class="item__name">Контакты</span>
				</a>
			</li>

		</ul>

	</nav>

</section>
